body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

a {
	text-decoration: none;
}

/* сетка меню */
.site-navigation,
.user-navigation,
.subnavigation {
	list-style: none;
}

.site-navigation a,
.user-navigation a,
.subnavigation a {
	color: white;
}

.site-wrapper {
	background-color: #849d8f;
	background-repeat: no-repeat;
	background-position: center top;
}

.main-header {
	width: 1200px;
	min-width: 940px;
	margin: 0 auto;
	outline: 5px solid red;
}

.main-navigation {
	outline: 5px solid black;
	height: 77px;
	font-size: 16px;
   line-height: 18px;
	display: flex;
}

.header__logo {
	width: 154px;
	height: 64px;
	outline: 5px solid blueviolet;
	align-self: flex-end;
   margin-right: 10px;
   margin-left: 27px;
   margin-bottom: 2px;
   width: 180px;
}

.navigation-container {
	width: 100%;
	margin-bottom: 6px;
   display: flex;
   justify-content: space-between;
}

/* главное меню */
.site-navigation {
	outline: 5px solid green;
	margin: 0;
   padding: 0;
   width: 385px;
   display: flex;
   align-items: center;
	
}

/* пользовательское меню */

.user-navigation {
	outline: 5px solid yellow;
	width: 310px;
	display: flex;
   align-items: center;
}

/* режим работы */
.container {
	width: 1200px;
	margin: 0 auto;
	outline: 5px solid blue;
}

.info {
	outline: 5px solid orange;
	width: 196px;
}

.user-info {
	
}


.navigation-container .container {
	display: flex;
}



/* спец предложения */
.spetial-offer {
	display: flex;
	justify-content: space-between;
}

.spetial-offer-raspberries{
	height: 230px;
	width: 560px;
	border-radius: 15px;
	background-color: #98183f;
	background-image: url("../img/Малиновый\ фон.jpg");
	background-repeat: no-repeat;
 }

 .spetial-offer-chocolate{
	height: 230px;
	width: 560px;
	border-radius: 15px;
	background-color: #6a4a3a;
	background-image: url("../img/Шоколадный\ фон.jpg");
	background-repeat: no-repeat;
 }

 /* хиты продаж */
 .hits {
	padding-top: 40px;
 }

 .hits__catalog {
	 display: flex;
	 justify-content: space-between;
	 list-style: none;
 }










