body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: red;

	opacity: 0.5;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: white;
	background-color: #849D8F;
}

.site-navigation,
.user-navigation,
.subnavigation {
	list-style: none;
}

.site-navigation a,
.user-navigation a,
.subnavigation a {
	color: white;
}

/* button */
.button {
	font: inherit;
	font-weight: bold;

	text-align: center;
	color: white;
	vertical-align: middle;
	text-decoration: none;

	background-color: #f06843;
	border: none;
	border-radius: 30px;
}

.button:hover,
.button:focus {
	background-color: #ed705e;
}

.button:active {
	background-color: #e74a35;
}

/* special offers */
.spetial-offer-raspberries{
	background-color: #98183f;
	background-image: url("../img/Малиновый\ фон.jpg");
 }

 .spetial-offer-chocolate{
	background-color: #6a4a3a;
	background-image: url("../img/Шоколадный\ фон.jpg");
 }


/* hits */

/* advantages */
.advantages{
	color: #323232;
	background-color: #f1e8d5;
	background-image: url("../img/Вафля\ фон.jpg");
	
}

.advantages-list {
	list-style: none;
}
/* useful information */
.useful-information {
}

news,
.subscribe-form{
}

.subscribe-form{
 }
 
 .news{
	color: #323232;
	background-color: #ffffff;
	background-image: url("../img/Клубничный\ фон.jpg");
	background-repeat: no-repeat;
	background-size: auto;
 }

 .subscribe-form{
	color: #323232;
	background-color: #f8f7f4;
	border: 5px solid #fe9e90;
 }
 

html {
	background: url("../img/gllacy-index.jpg") 50% 0;
}











