body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

a {
	color: white;
}

/* сетка меню */
.site-navigation,
.user-navigation,
.subnavigation 
.socials, 
.list {
	list-style: none;
}



.site-wrapper {
	background-color: #849d8f;
	background-repeat: no-repeat;
	background-position: center top;
}

.container {
	width: 100%;
	max-width: 1200px;
   min-width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	outline: 5px solid blue;
}

/* главное меню */
.header-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header-top {
	display: flex;
	align-items: center;
	width: 100%;
}

.logo {
	display: flex;
	width: 100%;
}

.header__logo {
	margin-right: 20px;
	max-width: 154px;
}

.img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.header-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

.list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.header-navigation__list {
	width: 100%;
	max-width: 380px;
}

/* пользовательское меню */

.user-navigation {
	width: 100%;
	max-width: 300px;
	display: flex;
   align-items: center;
}

/* режим работы */

.header-bottom {
	display: flex;
	justify-content: flex-end;
}


.user-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

/* спец предложения */
.columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.columns-item {
	position: relative;
	max-width: 560px;
	min-height: 229px;
	box-sizing: border-box;
	border-radius: 15px;
}

.spetial-offer-raspberries{
	background-color: #98183f;
	background-image: url("../img/Малиновый\ фон.jpg");
	background-repeat: no-repeat;
 }

 .spetial-offer-chocolate{
	background-color: #6a4a3a;
	background-image: url("../img/Шоколадный\ фон.jpg");
	background-repeat: no-repeat;
 }

 .spetial-offer__title {
	margin: 0px;
	margin-left: 19px;
	margin-top: 15px;
	
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
 }

 .spetial-offer__description {
	margin: 0;
   margin-left: 19px;
   margin-top: 16px;
   margin-bottom: 80px;

	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
 }

 .spetial-offer__button {
	position: absolute;
	bottom: 25px;
	right: 22px;
 }

 /* хиты продаж */
 .hits {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 32px;
	min-height: 363px;
	outline: 5px solid white;
 }
 
 .hits-item {
	position: relative;
	width: 293px;
	min-height: 334px;
	padding: 0 13px;
	padding-top: 6px;
	box-sizing: border-box;
 }

 .hits-img {
	border-radius: 50%;
 }

 .hits-price {
	position: absolute;
	top: 213px;
	left: 13px;
	margin: 0;
	white-space: nowrap;
 
	font-size: 45px;
	line-height: 1em;
	font-weight: 700;
 }

 .hits-price span {
	position: relative;
	left: -10px;
 
	font-size: 30px;
 }

 .item-heading {
	margin: 0;
	margin-top: 6px;
	padding: 0;
 
	text-align: center;
 }

 .item-heading a {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
 }

.hits-item:hover,
.hits-item:focus,
.hits-item:active {
	border: 0,1px solid;
	border-radius: 3%;
   background-color: #9bafa3;
}
.hits-button {
	display: none;
}
.hits-item:hover .hits-button,
.hits-item:focus .hits-button,
.hits-item:active .hits-button {
	display: block;
}

 /* Преимущества */
.advantages {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 40px;
	min-height: 290px;
	color: #323232;

	background-color: #efe5cd;
	background-image: url("../img/Вафля\ фон.jpg");
	background-repeat: repeat;
	background-position: 0 0;
	border-radius: 15px;
}

.advantages-top {
	margin: 0;
	padding-top: 24px;

	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
}

.advantages-list {
	margin: 0;
  	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;
}

 .advantages-list__item {
	position: relative;
	width: 485px;
  	padding-left: 56px;
  	padding-top: 12px;
  	margin-top: 10px;
 }
 
 /* Блог */

.news {
	min-height: 220px;
	padding-left: 19px;
  	padding-right: 19px;
	background-color: #ffffff;
	background-image: url("../img/Клубничный\ фон.jpg");

	color: #323232;
}

.news-title {
	margin: 0;
  	padding: 0;
	padding-top: 22px;
	 
	font-weight: 500;
}

.news-title__link {
	color:  #323232;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
}

.news-title__link a {
	color:  #323232;
}

/* Подписка на рассылку */
.subscribe-form {
	color: #5A5A5A;
	background-color: #f8f7f4;
}







.footer-logo {
	max-width: 109px;
}





